@page
@model OnSet.Pages.Users.LogoutModel
@{
    @if (User.Identity?.IsAuthenticated == true)
    {
        <form method="post" asp-page="/Users/Logout" class="d-inline">
            <button type="submit" class="btn btn-link">Logout</button>
        </form>
    }

}
